/* =========================================================================
 * Baseline stylings
============================================================================ */

/* The variables are all for colors. One dark, and one light as well as 2
various levels of alpha trasnparency for hte light color. */
:root {
    --dark: #29323f;
    --light: #58bec2;
    --light-trans: #58bec2aa;
    --light-supertrans: #58bec24F;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    box-sizing: border-box;
}

/* =========================================================================
 * Styling in Header Container
============================================================================ */

header {
    background: var(--dark);
    display: flex;
    flex-flow: row nowrap;
    max-height: 2em;
    align-items: center;
    justify-content: space-between;
    padding: 1.75em 0.75em 1.75em 0;
    position: relative;
}

/* This is the caption box nested in the header. */
.my-name {
    color: var(--dark);
    background-color: var(--light);
    padding: .375rem .625rem .375rem 3.75rem;
    font-size: 240%;
    font-weight: 700;
    text-transform: uppercase;
}

/* This unordered list serves as the nav bar link container. */
ul {
    text-transform: uppercase;
    margin-right: 2.5em;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: fit-content;
}

ul li a {
    padding: 1em 1em .25em 1em;
    color: var(--light);
    border-bottom: solid var(--light) .25em;
    transition: 750ms;
}

ul li a:hover, a:focus-visible {
    color: var(--dark);
    background-color: var(--light);
    border-bottom: solid var(--light) .25em;
}

/* =========================================================================
 * Styling for the Image under the header/nav bar
============================================================================ */

.decorative-splash {
    position: relative;
    background-image: url(../img/dimes-border-crop.jpg);
    background-color: var(--light);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    min-height: 28vh;
}

/* This caption box houses the title for the job I am applying for. */
.caption {
    color: var(--dark);
    position: absolute;
    padding: 1rem;
    background-color: var(--light);
    font-size: 175%;
    right: 0;
    bottom: 10%;
    box-shadow: -0.125em 0.125em .375em var(--dark); 
}

/* =========================================================================
 * The main page content
============================================================================ */

/* just giving the elements on the page room to breathe */
main {
    margin: 2em 4em 2em 4em;
}

/* The seciton card class divides up the 3 main navigation sections of the site */
.section-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.section-card p {
    line-height: 1.625;
    font-size: 112%;
    max-width: 84vw;
    padding: 0 0 .75rem 1.75rem;
    color: var(--dark);
}

.section-card p em {
    font-style: italic;
}

/* The H3 headers are the header levels used to title each section card on the page */
h3 {
    text-align: right;
    order: -1;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3.75vw;
    width: 16vw;
    min-width: 40%;
    color: var(--light);
    padding-right: .6em;
    border-right: solid var(--light) .12em;
}

/* =========================================================================
 * Just for the photos in the "work" section
============================================================================ */

.interactive-links {
    width: 84vw;
    min-height: 15em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.project-thumbnails {
    min-width: calc(50% - 1.75em);
    margin: .875em;
    min-height: max-content;
    position: relative;
}

.img-captions {
    color: var(--dark);
    background-color: var(--light);
    padding: 0.5vw;
    position: absolute;
    left: 0;
    bottom: 1.5em;
    text-align: center;
}

.img-captions h4 {
    font-size: 150%;
    padding: o;
    margin: 0;
}

#mainstage-photo {
    flex: 2 1 100%;
    min-width: max-content;
    min-height: 30em;
}

#drawing {
    background-image: url(../img/drawing.jpg);
    background-color: var(--light-trans);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    border: solid var(--light) .625em;
    transition: 600ms;
}

#applescript,
#refactoring,
#digital-art,
#mitty {
    background-color: var(--light-trans);
    background-blend-mode: multiply;
    background-size: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: 7.5em;
    border: solid var(--light) .625em;
    transition: 600ms;
}

#applescript {
    background-image: url(../img/applescript.png);
}

#refactoring {
    background-image: url(../img/refactor.png);
}

#digital-art {
    background-image: url(../img/DJDV.jpg);
}

#mitty {
    background-image: url(../img/Mitty.png);
}


#drawing:hover,
#applescript:hover,
#refactoring:hover,
#digital-art:hover,
#mitty:hover {
    background-color: var(--light-supertrans);
}

/* =========================================================================
 * Contact information like a faux footer
============================================================================ */

.contact-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84vw;
    font-size: 2vw;
}

.contact-links h4 {
    color: var(--dark);
}

.contact-links a {
    color: var(--dark);
    padding: 0.25 0 .25rem 0;
    border-bottom: solid var(--dark) .25em;
    transition: 400ms;
}

.contact-links a h4:hover, h4:focus {
    transition: 400ms;
    color: var(--light);
    background-color: var(--dark);
    border: solid var(--dark) .25em;
}

#contact-me {
    align-items: center;
}

/* =========================================================================
 * Media Query for nav bar starting to crowd
============================================================================ */

@media screen and (max-width:849px) {
    
    header {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.875rem;
        max-height: 5em;
    }
    
    .my-name {
        width: 100vw;
        text-align: center;
        padding: 0.5rem 1rem;
        margin: 0 .5rem;
        font-size: 275%;
    }

    ul {
        font-size: 125%;
        margin-right: 0em;
    }
    
    .contact-links {
        flex-wrap: wrap;
    }
}

/* =========================================================================
 * Media Query for images becoming too tall and narrow as well as the contact
 links becoming small and difficult to read.
============================================================================ */

@media screen and (max-width: 749px) {
    ul {
        font-size: 2.695vw;
    }
    
    .section-card {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.5em;
    }

    h3 {
        text-align: center;
        order: -1;
        font-size: 5.5vw;
        width: 50vw;
        color: var(--dark);
        padding: .75em;
        background-color: var(--light);
        border-radius: 5vh;
        box-shadow: -0.125em 0.125em .375em var(--dark);
        margin: .75em .5em .5em .5em;
    }

    #mainstage-photo {
        flex: 1 1 100%;
        min-width: max-content;
        min-height: 15em;
    }
    
    #applescript {
        min-height: 10em;

    }
    
    #refactoring {
        min-height: 10em;
    }

    .contact-links {
        flex-flow: column nowrap;
        gap: .5em;
        justify-content: space-between;
        align-items: center;
        width: 84vw;
        font-size: 3.25vw;
    }

}